<div class='container'>
 <div class='row'>
  <div class='col-md-12'>
    <table class="table table-borderless">
    <h2>会員情報編集</h2>

    <tbody class="text-left">
     <%= form_with model: @customer, url: information_path do |form| %>
     <%= render "public/shared/error_messages", resource: @customer %>

      <tr>
       <th><%= form.label :first_name, "氏名" %></th>
       <td><%= form.text_field :first_name %></td>
       <td><%= form.text_field :last_name %></td>
      </tr>

      <tr>
       <th><%= form.label :first_name_kana, "フリガナ" %></th>
       <td><%= form.text_field :first_name_kana %></td>
       <td><%= form.text_field :last_name_kana %></td>
     </tr>

     <tr>
      <th><%= form.label :postal_code, "郵便番号" %></th>
      <td><%= form.text_field :postal_code %></td>
     </tr>

     <tr>
      <th><%= form.label :address, "住所" %></th>
      <td colspan="2"><%= form.text_field :address, style: "width: 100%" %></td>
     </tr>

     <tr>
      <th><%= form.label :telephone_number, "電話番号" %></th>
      <td><%= form.text_field :telephone_number %></td>
     </tr>

     <tr>
      <th><%= form.label :email, "メールアドレス" %></th>
      <td><%= form.email_field :email, autofocus: true, autocomplete: "email" %></td>
     </tr>
    </table>
　</div>
　</div>

    <div class='row'>
      <th class="col-4">
        <div class="actions">
       　　<%= form.submit "編集内容を保存", class: 'btn btn-success btn-lg' %>
     　　</div>
     　</th>
     　<th class="col-4"></th>

      <th class="col-4">
       <%= link_to unsubscribe_customer_path, class: "btn btn-danger btn-lg" do %>
       <i>退会する</i>
       <% end %>
       </th>

    </div>
  <% end %>
</div>

