<h2>マイページ</h2>

 <tr>
   <td>登録情報</td>
   <td>
    <div class='row'>
     <%= link_to edit_customer_path(@customer), class: "btn btn-outline-success btn-block" do %>
     <i>編集する</i>
     <% end %>
    </div>
   </td>
 </tr>

 <div class="field">
  <th>氏名</th>
  <th>　<%= @customer.first_name %> <%= @customer.last_name %></th>
 </div>

 <div class="field">
  <th>カナ</th>
  <th>　<%= @customer.first_name_kana %> <%= @customer.last_name_kana %></th>
 </div>

 <div class="field">
   <th>郵便番号</th>
   <th><%= @customer.postal_code %></th>
 </div>

 <div class="field">
   <th>住所</th>
   <th><%= @customer.address %></th>
 </div>

 <div class="field">
   <th>電話番号</th>
   <th><%= @customer.telephone_number %></th>
 </div>

 <div class="field">
   <th>メールアドレス</th>
   <th><%= @customer.email %></th>
 </div>

<%# <div class="field">
   <td>配送先</td>
   <td>
    <div class='row'>
     <%= link_to addresses_path(@customer), class: "btn btn-outline-primary btn-block" do %>
 <%#    <i>一覧を見る</i>
     <% end %>
  <%#  </div>
   </td>   %>


 <%#  <td>注文履歴</td>
   <td>
    <div class='row'>
     <%= link_to customer_orders_path, class: "btn btn-outline-primary btn-block" do %>
 <%#    <i>一覧を見る</i>
     <% end %>
 <%#   </div>
   </td>
 </div>

  <%#= link_to 'sign_out', destroy_customer_session_path, method: :delete %>

