<div class='container'>

  <div class='row'>
     <div class='col-md-1'></div>
   <div class='col-3 text-center'>
    <h3 class="table-active">マイページ</h3>
   </div>
   <div class='col-md-9'></div>

  </div>

  <div class="mb-4"></div>

   <div class='row'>

    <div class='col-md-2'><h3>登録情報</h3></div>
     <div class='col-md-3'>
       <%= link_to edit_customer_path(@customer), class: "btn btn-success btn-lg" do %>
       <i>編集する</i>
       <% end %>
     </div>
     <div class='col-md-7'></div>
   </div>

  <div class="mb-4"></div>

  <table class="table table-bordered border-dark">

   <div class='row'>

    <div class='col-md-3'>
      <th class="table-active">氏名</th>
    </div>
    <th class='col-md-7'><%= @customer.first_name %> <%= @customer.last_name %></th>
    <div class='col-md-2'></div>
  </div>

  <div class='row'>
   <tr class="text-left">
    <th class="col-md-3 table-active">カナ</th></div>
    <th class='col-md-7'><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></th>
   </tr>
   <div class='col-md-2'></div>
   </div>

  <div class='row'>
     <th class="col-md-3 table-active">郵便番号</th></div>
     <th class='col-md-7'><%= @customer.postal_code %></th>
     <div class='col-md-2'></div>
   </div>

  <div class='row'>
   <tr class="text-left">
     <th class="col-md-3 table-active">住所</th></div>
     <th class='col-md-7'><%= @customer.address %></th>
   </tr>
   <div class='col-md-2'></div>
   </div>

  <div class='row'>
   <tr class="text-left">
     <th class="col-md-3 table-active">電話番号</th>
     <th class='col-md-7'><%= @customer.telephone_number %></th>
   </tr>
   <div class='col-md-2'></div>
  </div>

  <div class='row'>
     <th class="col-md-3 table-active">メールアドレス</th>
     <th class='col-md-7'><%= @customer.email %></th>
    <div class='col-md-2'></div>
  </div>

   </table>

<%# <div class="field">
   <td>配送先</td>
   <td>
    <div class='row'>
     <%= link_to addresses_path(@customer), class: "btn btn-outline-primary btn-block" do %>
 <%#    <i>一覧を見る</i>
     <% end %>
  <%#  </div>
   </td>   %>


 <%#  <td>注文履歴</td>
   <td>
    <div class='row'>
     <%= link_to customer_orders_path, class: "btn btn-outline-primary btn-block" do %>
 <%#    <i>一覧を見る</i>
     <% end %>
 <%#   </div>
   </td>
  </div>
 %>


</div>
