<div class="container">
  <div class="row">
    <h1 class="col-4">商品一覧</h1>
    <div class="col-1 offset-7">
      <%= link_to new_admin_item_path, method: :get do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
        <tbody>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <!--<td><%#= item.is_active %></td>-->
            <td>
              <% if item.is_active %>
                販売中
              <% elsif %>
                販売停止中
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="offset-1"></div>
  </div>
</div>
<%= paginate @items %>
