
<%= form_with(model: @customer, url: customer_path) do |form| %>
  <%= render "public/shared/error_messages", resource: @resource %>
  
  <h2><%= customer.first_name %><%= customer.last_name %>さんの会員情報編集</h2>
  
  <div class="field">
   <th>会員ID</th>
   <th><%= form.id %></th>
  </div>
 
  <div class="field">
    <%= form.label :first_name, "氏名" %>
    <%= form.text_field :first_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :kana_first_name, "フリガナ" %>
    <%= form.text_field :kana_first_name %>
    <%= form.text_field :kana_last_name %>
  </div>

  <div class="field">
    <%= form.label :postal_code, "郵便番号" %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :address, "住所" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone_number, "電話番号" %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :email, "メールアドレス" %>
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
   <th>ステータス</th>
     <th class="<%= customer.is_active ? 'text-success' : '' %>">
      <%= customer.is_active ? "有効" : "無効" %>
     </th>
  </div>
  
  <tr>
   <th>会員ステータス</th>
   <th><%= form.radio_button :is_active, "true" %>有効</th>
   <th><%= form.radio_button :is_active, "false" %>退会</th>
  </tr>
  
<% end %>

  <div class="actions">
    <%= form.submit "編集内容を保存", class: 'btn btn-success' %>
  </div>
