<%= @customer.each do |customer| %>
<h2><%= customer.first_name %><%= customer.last_name %>さんの会員詳細 </h2>

 <tr>
  <th>会員ID</th>
  <th><%= customer.id %></th>
 </tr>
 <tr>
  <th>氏名</th>
  <th><%= customer.last_name %>　<%= customer.first_name %></th>
 </tr>
 <tr>
  <th>フリガナ</th>
  <th><%= customer.last_name_kana %>　<%= customer.first_name_kana %></th>
 </tr>
 <tr>
   <th>郵便番号</th>
   <th><%= customer.postal_code %></th>
 </tr>
 <tr>
   <th>住所</th>
   <th><%= customer.address %></th>
 </tr>
 <tr>
   <th>電話番号</th>
   <th><%= customer.telephone_number %></th>
 </tr>
 <tr>
   <th>メールアドレス</th>
   <th><%= customer.email %></th>
 </tr>
 <tr>
   <th>ステータス</th>
     <th class="<%= customer.is_active ? 'text-success' : '' %>">
      <%= customer.is_active ? "有効" : "無効" %>
     </th>
 </tr>

 <tr>
   <td>
    <div class='row'>
     <%= link_to edit_admin_customer_path(customer), class: "btn btn-outline-success btn-block" do %>
     <i>編集する</i>
     <% end %>
    </div>
   </td>

   <td>
    <div class='row'>
     <%= link_to customer_orders_path(customer), class: "btn btn-outline-primary btn-block" do %>
     <i>注文履歴一覧を見る</i>
     <% end %>
    </div>
   </td>
 </tr>
 <% end %>