

<h2>新規会員登録</h2>
<%= form_with(model: @customer, url: new_customer_registration_path) do |form| %>
  <%= render "public/shared/error_messages", resource: @resource %>

  <div class="field">
    <%= form.label :first_name, "名前（姓）" %>
    <%= form.text_field :first_name %>

    <%= form.label :last_name, "（名）" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :kana_first_name, "フリガナ（セイ）" %>
    <%= form.text_field :kana_first_name %>

    <%= form.label :kana_last_name, "（メイ）" %>
    <%= form.text_field :kana_last_name %>
  </div>

  <div class="field">
    <%= form.label :email, "メールアドレス" %>
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :postal_code, "郵便番号(ハイフンなし)" %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :address, "住所" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone_number, "電話番号(ハイフンなし)" %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :password, "パスワード(6文字以上)" %>
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "パスワード(確認用)" %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= form.submit "新規登録" %>
  </div>
<% end %>

<%= render "public/shared/links" %>
