<div class="container">
  <div class="row">
    <div class="col-3">
      <!--ジャンル選択のサイドバー-->
      <%= render 'public/searches/genre' %>
    </div>
    <div class="col-9 d-flex">
      <h2>商品一覧(全<%= @items.count %>件)</h2>
      <table>
        <tbody>
          <tr>
          <td>
            <% @items.each do |item| %>
                <%= link_to item_path(item.id) do %>
                  <%= image_tag item.image, size: "200x200" %>
                  <%= item.name %>
                <% end %>
                  ¥<%= item.price %>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>