<!DOCTYPE html>
<html>
  <head>
    <title class="text-success">NaganoCake</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body data-turbolinks="false">
    <div id="wrapper">
      <!-- ここからnow loading -->
   <!--    <div id="loader-bg">
        <div id="loader">
         <img src="/assets/img-loading.gif" width="150" height="150" alt="Now Loading..." />
           <p>Now Loading...</p>
         </div>
      </div> -->
      <!-- now loadingここまで -->
      <!-- <div id="wrap"> -->
        <!-- headerの記述 -->
        <header>

        </header>

        <main id="content">
          <%= yield %>
        </main>

        <footer id="footer">
          <div class="icons">
            <a href="#" class="insta_btn" style=" margin-top: 10px;">
              <span class="insta"><i class="fab fa-instagram fa-lg"></i>
            </span></a>

            <div class="social-icons" style="margin: 5px 30px 0">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </div>

            <a href="#" class="btn-social-icon-facebook" style=" margin-top: 10px;">
              <span class="btn-social-icon-facebook__square"><i class="fa fa-facebook"></i></span>
            </a>
          </div>
        </footer>
      <!-- </div> -->
    </div>
  </body>
</html>